

.Box{
    display: block;
    border-radius: 20px;
    height: 55rem;
    width: 90rem;
    margin: auto;
    background: hsla(350, 73%, 44%, 1);

 background: linear-gradient(90deg, hsla(350, 73%, 44%, 1) 0%, hsla(274, 65%, 12%, 1) 100%);

 background: -moz-linear-gradient(90deg, hsla(350, 73%, 44%, 1) 0%, hsla(274, 65%, 12%, 1) 100%);

 background: -webkit-linear-gradient(90deg, hsla(350, 73%, 44%, 1) 0%, hsla(274, 65%, 12%, 1) 100%);

 filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#C11E38", endColorstr="#220B34", GradientType=1 );

    color: white;
}
.main{
    padding: 2rem;
}

.cards{
    display: flex;
    
    
}



i{
    font-size: 2rem;
}

button{
   
    margin-top: 35px; 
    border-radius: 10px;
    width: 130px;
    height: 28px;

    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.367) ;
    background: hsla(33, 100%, 53%, 1);

 background: linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);

 background: -moz-linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);

 background: -webkit-linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);

 filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF930F", endColorstr="#FFF95B", GradientType=1 );
    
}

.item1{
    display: block;
    padding: 50px;
    margin: 25px;
    height: 25rem;
    width: 8rem;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.299);
    border-radius: 20px;
    background: hsla(333, 100%, 53%, 1);

 background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);

 background: -moz-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);

 background: -webkit-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);

 filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF0F7B", endColorstr="#F89B29", GradientType=1 );

}
.item2{
    display: block;
    
    padding: 50px;
    
    margin: 25px;
    height: 25rem;
    width: 8rem;
    background: hsla(339, 100%, 55%, 1);

 background: linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);

 background: -moz-linear-gradient(90deg, rgb(58, 1, 21) 0%, hsla(197, 100%, 64%, 1) 100%);

 background: -webkit-linear-gradient(90deg, rgb(108, 134, 3) 0%, hsla(197, 100%, 64%, 1) 100%);

 filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF1B6B", endColorstr="#45CAFF", GradientType=1 );
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.299);
    border-radius: 20px;

}
.item3{
    display: block;
    
    padding: 50px;
    border: 2px solid black;
    margin: 25px;
    height: 25rem;
    width: 8rem;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.299);
    background: hsla(252, 40%, 29%, 1);

 background: linear-gradient(90deg, hsla(252, 40%, 29%, 1) 0%, hsla(270, 77%, 71%, 1) 100%);

 background: -moz-linear-gradient(90deg, hsla(252, 40%, 29%, 1) 0%, hsla(270, 77%, 71%, 1) 100%);

 background: -webkit-linear-gradient(90deg, hsla(252, 40%, 29%, 1) 0%, hsla(270, 77%, 71%, 1) 100%);

 filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#392D69", endColorstr="#B57BEE", GradientType=1 );
    border-radius: 20px;

}
.item4{
    display: block;
    
    padding: 50px;
    border: 2px solid black;
    margin: 25px;
    height: 25rem;
    width: 8rem;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.299);
    background: hsla(279, 83%, 70%, 1);

 background: linear-gradient(90deg, hsla(279, 83%, 70%, 1) 0%, hsla(321, 90%, 70%, 1) 100%);

 background: -moz-linear-gradient(90deg, hsla(279, 83%, 70%, 1) 0%, hsla(321, 90%, 70%, 1) 100%);

 background: -webkit-linear-gradient(90deg, hsla(279, 83%, 70%, 1) 0%, hsla(321, 90%, 70%, 1) 100%);

 filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#C471F2", endColorstr="#F76CC6", GradientType=1 ); 
    border-radius: 20px;

}
.item5{
    display: block;
    
    padding: 50px;
    border: 2px solid black;
    margin: 25px;
    height: 25rem;
    width: 8rem;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.299);
    background: hsla(213, 77%, 14%, 1);

 background: linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);

 background: -moz-linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);

 background: -webkit-linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);

 filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#08203E", endColorstr="#557C93", GradientType=1 );
    border-radius: 20px;

}

strong{
    font-size: 25px;
}



.value{
    font-size: 20px;
}


.fa-solid fa-credit-card{
    font-size: 1px;
}

.card{
    font-size: 10px;
}
